beautifulsoup4==4.12.2
mypy-extensions==1.0.0
mysql-connector-python==8.2.0
mysqlclient==2.2.0
urllib3==1.26.6
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
protobuf==4.21.12
requests==2.31.0
soupsieve==2.5
